{
	"useTabs": true,
	"tabWidth": 4,
	"singleAttributePerLine": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"semi": false
}
